.carousel {
    display: grid;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    grid-template-areas: "inner-div";
    place-items: center;
    position: relative;
    width: 100%;
}

.inner {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-area: inner-div;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition-duration: 500ms;
    transition-property: all;
    width: 100%;
}

.inner > span {
    border-radius: 1rem;
}

.active {
    animation: 0.7s ease-in-out;
    z-index: 20;
}

.inactive {
    opacity: 0;
}
