/* Main Container */
.container {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  line-height: 1.5;
  margin: 2em auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 1rem 0;
  text-align: justify;
}

/* Header */
.header {
  background-color: #fcfcfc;
  border-bottom: 1px solid #eaeaea;
  overflow: auto;
}

.header-name {
  cursor: pointer;
  float: left;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
}

/* Footer */
.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 25rem;
  padding: 2rem 0;
}

.footer a {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* Title */
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 4rem;
  line-height: 1.15;
  margin-bottom: 0.25rem;
}

.title,
.description {
  text-align: center;
}

/* Navigation */
.nav {
  float: right;
}

.nav-button {
  color: inherit;
  cursor: pointer;
  float: left;
  font-weight: bold;
  margin: 1rem;
  max-width: 300px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.nav-button:last-of-type {
  padding-right: 1.5rem;
}

.nav-button:hover,
.nav-button:focus,
.nav-button:active {
  border-color: #0070f3;
  color: #0070f3;
}

/* Body */
.description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 4rem 0;
}

/* Code */
.code-parent {
  margin: 1.5rem;
}

.code-block {
  border-radius: 0.5rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 1.1rem;
  padding: 0.75rem;
}

.code-inline {
  border-radius: 0.25rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  padding: 2px 6px 2px 6px;
}

/* Figures */
.figure {
  position: relative;
  max-width: 100%;
}

.figure > span {
  border-radius: 0.25rem 0.25rem 0.25rem 0;
}

.figure .caption {
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 16px;
  margin-top: -0.25rem;
  padding: 0.5rem 1rem 0.75rem 1rem;
  text-align: left;
  width: max-content;
}

/* We always want figure caption and code to be the same colour */
.figure .caption,
.code-block,
.code-inline {
  background: #f3f3f3;
}

/* Blog Posts */
.blog-post {
  position: relative;
}

.blog-card {
  margin: 1rem;
  padding: 1.5rem;
  width: 500px;
}

.blog-card:hover {
  border: 1px solid #000000;
}

.blog-card h3 {
  margin: 0px;
}

.blog-card p {
  margin-left: 10px;
}

.blog-card,
.previous-post,
.next-post {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: border 0.15s ease;
}

.previous-post,
.next-post {
  margin: 20px;
  padding: 0 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
  width: 350px;
  white-space: nowrap;
}

.previous-post,
.previous-holder {
  float: left;
}

.next-post,
.next-holder {
  float: right;
}

/* Pagination */
.pagination {
  overflow: hidden;
}

.pagination > div {
  float: left;
}

.pagination > div:first-child {
  cursor: pointer;
  margin-right: 5px;
}

.pagination > div:last-child {
  cursor: pointer;
  margin-left: 5px;
}

.pagination > div:first-child:hover,
.pagination > div:last-child:hover {
  color: #0070f3;
}

/* Generic Cards */
.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  color: inherit;
  margin: 1rem;
  max-width: 300px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
  color: #0070f3;
}

.card h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

/* Logo */
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .nav-button,
  .header,
  .footer,
  .blog-card,
  .previous-post,
  .next-post {
    border-color: rgb(0, 0, 0);
  }

  .blog-card:hover,
  .previous-post:hover,
  .next-post:hover {
    border: 1px solid #eaeaea;
  }

  .main,
  .footer {
    background-color: rgb(20, 20, 20);
  }

  .header,
  .nav {
    background-color: rgb(35, 37, 39);
  }

  .figure .caption,
  .code-block,
  .code-inline {
    background-color: rgb(57, 59, 61);
  }

  .logo img {
    filter: invert(1);
  }
}

/* Mobile Rules */
@media only screen and (hover: none) and (pointer: coarse) {
  .container,
  .main {
    max-width: 100%;
  }

  .main {
    font-size: 14px;
    display: flex;
  }

  .header-name {
    padding: 0.25rem 0.5rem;
  }

  .nav-button {
    margin: 1rem 0.5rem;
    padding: 0.25rem 0.25rem;
  }

  .footer {
    margin: 0 2rem;
    padding: 2rem 0;
  }

  /* Blog post padding on mobile */
  .blog-post p,
  .blog-post ul {
    padding: 0 1.5rem;
  }

  .blog-card,
  .previous-post,
  .next-post {
    max-width: 350px;
  }

  .figure .caption {
    padding-top: 12px;
    font-size: 12px;
    max-width: 75%;
  }
}
